/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.video-image img {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin-right: 20px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upload-status {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-right: 20px;
}

.progress-bar {
    width: 60%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    position: relative;
    margin-right: 10px;
}

.progress {
    height: 100%;
    background-color: #007bff;
    text-align: left;
    padding-left: 5px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    box-sizing: border-box;
}

.remaining-time {
    width: 40%;
    text-align: left;
    color: #777;
    font-size: 14px;
}

.done-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.hover {
    background-color: #0056b3;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.upload-note {
    font-size: 14px;
    color: #777;
} */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.article {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar {
    flex: 0 0 300px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.section h3 {
    margin-top: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.section ul li:hover {
    background-color: #e0e0e0;
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
    }

    .article, .sidebar {
        margin-bottom: 0;
    }

    .article {
        margin-right: 20px;
    }
} */
